body {
    background-color: #020303;
    margin: 0;
    padding: 0;
    color: #F4D995;
}

header {
    color: #F4D995;
}

h1,
h2,
h3,
h4,
h5,
h6 {
    color: #F4D995;
}

h1 {
    font-size: 50px;
    text-align: center;
    margin-top: 1rem;
    margin-bottom: 2rem;
}

p {
    color: #F4D995;
    font-size: 10px;
}

a {
    color: #F4D995;
}

.card {
    background-color: #4A575D;
    border: 2px solid #F4D995;
    margin: 10px;
}

.card-body {
    background-color: #4A575D;
    height: 100px;
}

.container {
    justify-content: center;
    display: flex;
    flex-direction: row;
    flex-wrap: wrap;
    padding: 0;
    max-width: 100%;
}

.logoPSVita {
    width: 120px;
}

.containerLogoPSVita {
    display: flex;
    justify-content: center;
    align-items: center;
}